/*MAIN COLORS*/
.sidenav { height: 100%; width: 180px; position: fixed; z-index: 2; top: 0; left: 0; background-color: #ebebeb; overflow-x: hidden; transition: 0.5s; padding-top: 56px; }
.sidenav .selected { color: #319EE7; background-color: #d8d8d8; }

.sidenav a { padding: 16px 8px 16px 32px; text-decoration: none; font-size: 16px; color: #6e6e6e; display: block; transition: 0.3s; border-bottom: 1px solid #d8d8d8; }

.sidenav a:hover { color: #319EE7; }

#main { transition: margin-left .5s; padding: 16px; }

.navbar { z-index: 3; }

.navbar-dark { background-color: #414141; }

.employee-table { padding-top: 40px; padding-left: 100px; color: #414141; }
.employee-table .table th { border-top: none; border-bottom: 1px solid #6e6e6e; }
.employee-table .table td { padding-left: 40px; }
.employee-table .table tbody { border-bottom: 1px solid #6e6e6e; }

.buttons { padding-top: 30px; padding-bottom: 50px; }

.form-border { padding: 15px 15px; }

.required { color: rgba(212, 9, 9, 0.555); }

#form-title { padding-top: 0; color: #414141; }

.form-blocks .block .first-block-title { display: flex; border-bottom: 1px solid #ebebeb; justify-content: space-between; margin-bottom: 15px; width: 90%; }
.form-blocks .block .first-block-title p { padding-top: 15px; color: #6e6e6e; font-size: 13px; border-bottom: 0px solid white; margin-bottom: 0px; }
.form-blocks .block .block-title { padding-top: 15px; color: #6e6e6e; font-size: 13px; width: 90%; }
.form-blocks .block p { transition: 0.25s ease-in-out; font-weight: bold; border-bottom: 1px solid #ebebeb; }
.form-blocks .block:hover .form-block { border-left-color: #319EE7; }
.form-blocks .block:hover p { color: #319EE7; }
.form-blocks .form-block { padding-left: 60px; }
.form-blocks .form-block .input-label { margin-bottom: 0; font-size: 12px; }
.form-blocks .form-block .input-label-with-padding { padding-top: 15px; margin-bottom: 0; font-size: 12px; }
.form-blocks .form-block .age input { width: 50px; }
.form-blocks .form-block .form-control { width: 90%; }
.form-blocks #phone-input { width: 135px; }
.form-blocks #identification-code { width: 135px; }

.custom-control { padding-top: 15px; }

.custom-select { width: auto; background: none; border: 0px solid #ced4da; -webkit-appearance: menulist; padding-right: 5px; margin-left: -20px; }
.custom-select:focus { border-color: transparent; box-shadow: 0 0 0 0; }

.remove-field { color: #6e6e6e; padding-left: 10px; }
.remove-field .fas { padding-top: 13px; }

.work-label { display: -webkit-box; color: #6e6e6e; padding-left: 20px; }

#percentInput { position: relative; width: 100%; border: 0px solid #ccc; margin-top: -74px; z-index: 1000; background: transparent; margin-left: 16px; }
#percentInput:focus { box-shadow: 0 0 0 0; }

#border-bottom-percent { border-bottom: 1px solid #6e6e6e; width: 50px; margin-left: 22px; margin-top: -6px; }

.circle { width: 100px; fill: #319EE7; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::after { background-color: #6e6e6e; border-radius: 50%; }

.btn-blue { background-color: #319EE7; color: #ebebeb; padding: 6px 12px 6px 12px; border-radius: 20px; }
.btn-blue:hover { color: #d8d8d8; background-color: #2578af; }

.secondary-btn { background-color: transparent; padding: 6px 12px 6px 12px; border: 1px solid #6e6e6e; border-radius: 20px; color: #6e6e6e; }
.secondary-btn:hover { background-color: #d8d8d8; color: #414141; }

.secondary-small-btn { background-color: transparent; border-radius: 20px; display: inherit; border: 1px solid white; color: #6e6e6e; font-size: 12px; }
.secondary-small-btn:hover { background-color: #d8d8d8; color: #414141; }
.secondary-small-btn:focus { outline: 0; }

html { margin: 0; padding: 0; height: 100%; width: 100%; overflow-x: hidden; }

.container { margin-left: 180px; }

.page-title { padding-left: 70px; padding-top: 40px; color: #414141; }

.form-control:focus { box-shadow: 0 0 0 0; border-color: #319EE7; }

@media all and (min-width: 481px) and (max-width: 568px) { .container { margin-left: 0; padding-left: 5px; overflow: hidden; }
  .form-blocks .form-block { padding-right: 0; padding-left: 20px; margin-left: 0; }
  .form-blocks #working { margin-left: 10px; }
  .form-border { padding: 0; }
  .employee-table { padding-left: 25px; }
  .percentage-circle { position: absolute; margin-left: 150px; } }
@media all and (min-width: 321px) and (max-width: 480px) { .container { margin-left: 0; padding-left: 5px; overflow: hidden; }
  .form-blocks .form-block { padding-right: 0; padding-left: 20px; margin-left: 0; }
  .form-blocks #working { margin-left: 10px; }
  .form-border { padding: 0; }
  .employee-table { padding-left: 25px; }
  .percentage-circle { position: absolute; margin-left: 150px; } }
@media all and (min-width: 0px) and (max-width: 320px) { .container { margin-left: 0; padding-left: 5px; overflow: hidden; }
  .form-blocks .form-block { padding-right: 0; padding-left: 20px; margin-left: 0; }
  .form-blocks #working { margin-left: 10px; }
  .form-border { padding: 0; }
  .employee-table { padding-left: 25px; }
  .percentage-circle { position: absolute; margin-left: 150px; } }

/*# sourceMappingURL=stylesheet.css.map */
