
.buttons{
    padding-top: 30px;
    padding-bottom: 50px;
}
.form-border{
    padding: 15px 15px;
}

.required {
    color: $red;
}

#form-title {
    padding-top: 0;
    color: $dark-grey;
}

.form-blocks {
    .block {
        .first-block-title {
            display: flex;
            border-bottom: 1px solid $light-grey;
            justify-content: space-between;
            margin-bottom: 15px;
            width: 90%;
            p {
                padding-top: 15px;
                color: $dark-grey-focus;
                font-size: 13px;
                border-bottom: 0px solid white;
                margin-bottom: 0px;
            }
        }
        .block-title {
            padding-top: 15px;
            color: $dark-grey-focus;
            font-size: 13px;
            width: 90%;
    }
        p {
            transition: 0.25s ease-in-out;
            font-weight: bold;
            border-bottom: 1px solid $light-grey
        }
        &:hover {
            .form-block {
                border-left-color: $primary-blue;
            }
            p {
                color: $primary-blue;
            }
        }
    }
    .form-block {
        padding-left: 60px;
        .input-label {
            margin-bottom: 0;
            font-size: 12px;
        }
        .input-label-with-padding {
            padding-top: 15px;
            margin-bottom: 0;
            font-size: 12px;
        }
        .age {
            input {
                width: 50px;
            }
        }
        .form-control {
            width: 90%;
        }
    }
    
    #phone-input {
        width: $phone-input-lenght;
    }
    #identification-code {
        width: $phone-input-lenght;
    }

}
.custom-control {
    padding-top: 15px;
}

.custom-select {
    width: auto;
    background: none;
    border: 0px solid #ced4da;
    -webkit-appearance: menulist;
    padding-right: 5px;
    margin-left: -20px;
    &:focus {
        border-color:transparent;
        box-shadow: 0 0 0 0;
    }
}

.remove-field {
    color:$dark-grey-focus;
    padding-left: 10px;
    .fas {
        padding-top: 13px;
    }
}
.work-label {
    display:-webkit-box;
    color: $dark-grey-focus;
    padding-left: 20px;
}
#percentInput {
    position: relative;
    width: 100%;
    border: 0px solid #ccc;
    margin-top: -74px;
    z-index: 1000;
    background: transparent;
    margin-left: 16px;
    &:focus {
        box-shadow: 0 0 0 0;
    }
}
#border-bottom-percent {
    border-bottom: 1px solid $dark-grey-focus;
    width: 50px;
    margin-left: 22px;
    margin-top: -6px;
}


.circle {
    width: 100px;
    fill: $primary-blue;

}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: $dark-grey-focus; 
    border-radius: 50%;
}