.btn-blue {
    background-color: $primary-blue;
    color: $light-grey;
    padding: 6px 12px 6px 12px;
    border-radius: $border-radius;
    &:hover {
        color:$light-grey-focus;
        background-color: $primary-blue-focus;
    }
}

.secondary-btn {
    background-color: transparent;
    padding: 6px 12px 6px 12px;
    border: 1px solid $dark-grey-focus;
    border-radius: $border-radius;
    color: $dark-grey-focus;
    &:hover {
        background-color:$light-grey-focus;
        color: $dark-grey;
    }
}

.secondary-small-btn {
    background-color: transparent;
    border-radius: $border-radius;
    display: inherit;
    border: 1px solid white;
    color: $dark-grey-focus;
    font-size: 12px;
    &:hover {
        background-color:$light-grey-focus;
        color: $dark-grey;
    }
    &:focus {
        outline:0
    }
}

