

.employee-table {
    padding-top: 40px;
    padding-left: 100px;
    color: $dark-grey;
    .table {
        th {
            border-top: none;
            border-bottom: 1px solid $dark-grey-focus;
        }
        td {
            padding-left: 40px;
        }
        tbody {
            border-bottom: 1px solid $dark-grey-focus;
        } 
    }
}
