

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $light-grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 56px;
    .selected {
        color: $primary-blue;
        background-color: $light-grey-focus;
    }
}

.sidenav a {
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    font-size: 16px;
    color: $dark-grey-focus;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid $light-grey-focus;
}

.sidenav a:hover {
    color: $primary-blue;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
