/*MAIN COLORS*/
$light-grey:#ebebeb;
$light-grey-focus:#d8d8d8;
$dark-grey:#414141;
$dark-grey-focus:#6e6e6e;
$primary-blue: #319EE7;
$primary-blue-focus: rgb(37, 120, 175);
$red: rgba(212, 9, 9, 0.555);


$border-radius: 20px;

$phone-input-lenght: 135px;