@import 'variables';
@import 'sidenav';
@import 'navbar';
@import 'employees';
@import 'add-employee';
@import 'buttons';


html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin-left: 180px;
}

.page-title {
    padding-left: 70px;
    padding-top: 40px;
    color: $dark-grey;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
    border-color: $primary-blue;
}



@media all and (min-width:481px) and (max-width: 568px) {
    .container {
        margin-left: 0;
        padding-left: 5px;
        overflow: hidden;

    }
    .form-blocks  {
        .form-block {
            padding-right: 0;
            padding-left: 20px;
            margin-left: 0;
        }
        #working {
            margin-left: 10px;
        }
    }
    .form-border {
        padding: 0;
    }
    .employee-table {
        padding-left: 25px;
    }
    .percentage-circle {
        position: absolute;
        margin-left: 150px;
    }
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    .container {
        margin-left: 0;            
        padding-left: 5px;
        overflow: hidden;

    }
    .form-blocks  {
        .form-block {
            padding-right: 0;
            padding-left: 20px;
            margin-left: 0;
        }
        #working {
            margin-left: 10px;
        }
    }
    .form-border {
        padding: 0;
    }
    .employee-table {
        padding-left: 25px;
    }
    .percentage-circle {
        position: absolute;
        margin-left: 150px;
    }
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
    .container {
        margin-left: 0;
        padding-left: 5px;
        overflow: hidden;

    }
    .form-blocks  {
        .form-block {
            padding-right: 0;
            padding-left: 20px;
            margin-left: 0;
        }
        #working {
            margin-left: 10px;
        }
    }
    .form-border {
        padding: 0;
    }
    .employee-table {
        padding-left: 25px;
    }
    .percentage-circle {
        position: absolute;
        margin-left: 150px;
    }
  }
